/* Coolors Exported Palette - coolors.co/74529e-1c0221-7c9eb2-372554-62466b */

/* HSL */
$color1: hsla(267%, 32%, 47%, 1);
$color2: hsla(290%, 89%, 7%, 1);
$color3: hsla(202%, 26%, 59%, 1);
$color4: hsla(263%, 39%, 24%, 1);
$color5: hsla(285%, 21%, 35%, 1);

/* RGB */
$color1: rgba(116, 82, 158, 1);
$color2: rgba(28, 2, 33, 1);
$color3: rgba(124, 158, 178, 1);
$color4: rgba(55, 37, 84, 1);
$color5: rgba(98, 70, 107, 1);