/* Coolors Exported Palette - coolors.co/74529e-63adf2-a7cced-304d6d-82a0bc */

/* HSL */
$color1: hsla(267%, 32%, 47%, 1);
$color2: hsla(209%, 85%, 67%, 1);
$color3: hsla(208%, 66%, 79%, 1);
$color4: hsla(211%, 39%, 31%, 1);
$color5: hsla(209%, 30%, 62%, 1);

/* RGB */
$color1: rgba(116, 82, 158, 1);
$color2: rgba(99, 173, 242, 1);
$color3: rgba(167, 204, 237, 1);
$color4: rgba(48, 77, 109, 1);
$color5: rgba(130, 160, 188, 1);